<%- include("../../partials/head") %>
<link rel="stylesheet" href="/css/bootstrap-multiselect.min.css" />
<%- include("../../partials/navBarAdmin") %>
    <div class="container">
        <div class="publicar-container">
            <aside>
                <nav class="assuntos-lateral-bar">
                    <% assuntos.forEach(assunto => { %>
                        <a href="/assunto/<%= assunto.slug %>">
                            <div>
                                <i class="<%= assunto.icone %>"></i>
                                <span><%= assunto.nome %></span>
                            </div>
                        </a>
                    <% }) %>
                </nav>
            </aside>
            <section>
                <div class="publicar-area">
                    <label for="titulo">Título:</label>
                    <input type="text" name="titulo" id="titulo" placeholder="Título do apontamento" autocomplete="off" autofocus required>
                    <label for="apontamento-conteudo">Conteúdo:</label>
                    <textarea name="conteudo" id="apontamento-conteudo" placeholder="Digite o seu conteúdo" required></textarea>
                    <span style="display: none;color: red; margin-bottom: 5px;" id="publicar-erro">Verifique se todos os campos foram preenchidos</span>
                    <div class="botoes-area">
                        <div class="botoes">
                            <select name="assuntos" id="assuntos" multiple required size="2">
                                <% assuntos.forEach(assunto => { %>
                                    <option value="<%= assunto.id %>" class="text-dark"><%= assunto.nome %></option>
                                <% }) %>
                            </select>
                            <label for="miniatura">Miniatura</label>
                            <input type="file" name="miniatura" id="miniatura" accept="image/png, image/jpeg" required>
                        </div>
                        <button onclick="publicar()" >Publicar</button>
                    </div>
                </div>
            </section>            
        </div>
    </div>
<%- include("../../partials/footer") %>
<script src="/tinymce/tinymce.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
        async function publicar() {
        
        let titulo = document.getElementById("titulo").value
        let conteudo = tinymce.get("apontamento-conteudo").getContent()
        let selected = document.querySelectorAll('#assuntos option:checked');
        let assuntos = Array.from(selected).map(el => parseInt(el.value));
        let miniatura = document.getElementById("miniatura").files[0]
        
        if (miniatura == undefined) {
            document.getElementById("publicar-erro").style.display = "flex"
            return
        } else{
            document.getElementById("publicar-erro").style.display = "none"
        }
        
        let apontamento = {titulo: titulo, conteudo: conteudo, assuntos: assuntos, miniatura: miniatura}
        
        try {
            await axios.post("/apontamento", apontamento, {headers: { "Content-Type" : "multipart/form-data"}})
            document.getElementById("publicar-erro").style.display = "none"
            window.location = '/'
        } catch (error) {
            if(error.response.status == 400){
                document.getElementById("publicar-erro").style.display = "flex"
            } else{
                document.getElementById("publicar-erro").style.display = "none"
            }
        }
    }
</script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#apontamento-conteudo",
        plugins: 'advlist autolink link image lists preview searchreplace wordcount fullscreen insertdatetime media save table emoticons' /*print hr paste*/
    })   
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>